.pre-header {
  padding: $rsp-padding-sm 0;
  
  .social {
    
    li:first-child {
      width: auto;
      margin-right: 15px;
    }
    
    li {
      width: 50px;
      margin-right: 10px;
    }
    
    img {
      background: $rsp-purple;
      padding: 10px;
      width: 40px;
      height: 40px;
    }
  }
  
  .rsp-timer {
    width: 50%;
    
    p {
      padding-bottom: 0;
    }
  }
  
  .countdown-wrapper {
    
    .rsp-counter {
      text-align: center;
      font-size: 45px;
      color: $rsp-purple;
      padding-left: $rsp-padding-sm;
      line-height: 28px;
      position: relative;
      
      &:after {
        content: ':';
        position: absolute;
        top: -.1vh;
        right: -25%;
      }
      
      &:last-child:after {
        content: '';
      }
    }
    
    span {
      font-size: 16px;
      line-height: 20px;
      color: $rsp-blue;
    }
  }
}

.main-header {
  border-top: 1px solid $rsp-grey;
  border-bottom: 1px solid $rsp-grey;
  position: relative;
  
  .mdev-main-wrapper {
    height: 100px;
  }
}

.nav {
  
  a {
    font-size: 24px;
    color: $rsp-grey;
    text-transform: uppercase;
    padding: 20px 30px;
  }
  
  li:last-child {
    height: 100%;
  
    a {
      background: $rsp-purple;
      color: $white;
      display: inline-block;
      height: 100%;
    }
  }
}

body {
  p {
    color: $rsp-grey;
  }
}