.home-intro {
  padding: 100px 0 80px;
}

.intro-wrapper {
  
  .intro-content {
    width: 60%;
  }
  
  .intro-button {
    width: 35%;
  }
}

.nomination-call {
  padding: 100px 0 80px;
  
  .nomination-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .nomination-content {
    width: 60%;
  }
  
  .nomination-button {
    width: 35%;
  }
}

.recognition {
  background-image: url('../img/home/ceremony-bkg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 35px 0;
  color: $white;
  
  .recognition-content {
    width: 45%;
    
    h1 {
      color: $white;
    }
    
    p {
      color: $white;
    }
    
    .link-wrapper {
      padding-top: $rsp-padding-md;
    }
  }
  
  .image {
    width: 55%;
  }
}

.recent-news {
  padding: 100px 0 80px;
  
  h1 {
    text-align: center;
    padding-bottom: 0;
  }
  
  .news-wrapper {
    padding-top: 80px;
  }
  
  .blog-tile {
    width: 30%;
  }
  
  .blog-image {
    height: 400px;
    padding: 5px;
  }
  
  .blog-image-inner {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  h5 {
    padding: $rsp-padding-sm 0;
  }
  
  .read-more {
    text-transform: uppercase;
    font-size: 18px;
    
    span {
      content: '';
      background-image: url('/rsp-awards/img/icons/icon-arrow-body.svg');
      background-repeat: no-repeat;
      background-position: center center;
      padding-left: 4vw;
      height: 5vh;
    }
  }
}

.sponsors {
  padding: 100px;
  
  h1 {
    text-align: center;
    padding-bottom: 80px;
  }
  
  .sponsor-inner-wrapper {
    width: 55%;
    
    .tile {
      height: 150px;
    }
    
    .position {
      width: 50%;
    }
    
    .image {
      width: 45%;
    }
    
    .presenting-sponsor {
      height: 250px;
    }
    
    img {
      display: block;
      text-align: left;
    }
  }
  
  .sponsor-cta {
    border-left: 1px solid $rsp-grey;
    width: 35%;
    padding-left: 40px;
    
    p {
      padding-top: $rsp-padding-sm;
      font-size: 24px;
      line-height: 34px;
      color: $rsp-purple;
      font-style: italic;
    }
    
    .button-wrapper {
      font-style: normal;
      padding-top: $rsp-padding-lg;
    }
  }
}